
// fieldset.signin-border {
.signin-border {
        border: solid 1px;
        padding: 0 10px 10px 10px;
        border-bottom: none;
    }

    // legend.signin-border {
.signin-border {
        width: auto;
        border: none;
        font-size: 14px;
    }
