$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  color: #dfdfdf;
  font-color: #000000;
  text-align: center;
  margin: auto;
  width: 550px;
}

.navbar {
  padding-top: 15px;
}

.padding {
  padding: 10px;
}

.gameboard {
   align-self: center;
   display: flex;
   justify-content: center;
}

.square {
  background: #edadc7;
  font-color: #000;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
  }

.square:hover {
  background-color: #ff5177;
}

.box {
  border: 4px solid #fff;
  height: 2em;
  position: relative;
  text-align: center;
  width: 2em;
}

.auth-alert {
  font-family: 'Gloria Hallelujah', cursive;
  padding-bottom: 10px;
}

.form-error {
  color: #ff0000;
}

.form-success {
  color: #008000;
}

.btn {
  text-transform: uppercase;
}


.modal-title, .black-text {
  color: #000;
}

.blue-text {
  color: #0000ff;
}

.title_message, .header-message, .general-message {
  text-align: center;
  color: black;
  font-size: 25px;
}

.header-message {
  color: black;
  font-size: 15px;
}

.title_message {
  border-bottom: 1px solid black;
  color: #0000ff;
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
}

.message, .Game-message {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  border-bottom: 1px solid #000;
  color: #000;
  }


  .game-history {
    color: #0000ff;
    font-family: cursive;
    font-size: 20px;
  }
